
*{
    font-family: 'Merriweather', serif;
    color: white;
}

a{
    color: black;
    text-decoration: none;
    margin: 0;
}

::-webkit-scrollbar{
    width: 3px;

}

::-webkit-scrollbar-track{
    color: black;
}
::-webkit-scrollbar-thumb{
    color: #404040;
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.head{
    background-color: black;
    height: 12vh;
    display: flex;
    margin: 0;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mast{
    height: 100%;
    margin: 0;
    img{
        height: 100%;
        margin: 0;
        margin-left: 0.5vw;
    }
}

.navbar{
    right: 2vw;
    padding: 0.5vw;
    height: 3vw;
    display: flex;
    align-items: center;
    .navbtn{
        font-size: 0.7vw;
        position: relative;
        margin: 0;
        margin-right: 1vw;
        margin-left: 1vw;
        text-align: center;
        h1{
            transition: 0.2s ease;
            color: white;
            &:hover{
                color: gold;
            }
        }
        &:hover{
            .dropdown{
                visibility: visible;
                opacity: 1;
                overflow-y: scroll;
                transform: translateY(1vw);
            }
        }
    }
}

.dropdown{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2vw);
    transition: 0.3s ease;
    position: absolute;
    background-color: rgba(black, 0.9);
    border-radius: 0.5vw;
    left: -0.5vw;
    overflow-y: scroll;
    padding: 0.5vw;
    max-height: 80vh;
    z-index: 5;

    .dropbtn{
        color: white;
        position: relative;
        padding: 0.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: left;
        width: fit-content;
        font-size: 0.5vw;
        white-space: nowrap;
        border-radius: 1.5vw;
    }
}


.footer{
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 30%;
    }
    .social{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 3vw;
            margin-left: 1vw;
            margin-right: 1vw;
            opacity: 0.8;
            transition: 0.2s ease;
            &:hover{
                opacity: 1;
            }
        }
    }
    p{
        margin-top: 2vw;
        font-size: 1vw;
    }
}

