.landing {
  height: 88vh;
  width: 100vw;
  margin: 0;
  background-image: url("../Assets/city-unsplash.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .expo {
  padding: 3vw;
  width: 60%;
  color: white;
}

.landing .expo h1 {
  margin: 0;
  font-size: 3vw;
}

.landing .expo h2 {
  font-size: 2vw;
}

.landing .expo h3 {
  font-size: 1.3vw;
  color: #C0C0C0;
  font-weight: 500;
  line-height: 1.7vw;
  margin: 0;
}

.landing .expo .hor-flex {
  margin-top: 2vw;
}

.landing .expo .hor-flex .button {
  margin-right: 1vw;
}

.hor-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  background-color: black;
  color: #ffef99;
  border: 1px solid black;
  border-radius: 0.5vw;
  padding: 1vw;
  font-weight: 700;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.button:hover {
  color: gold;
  border: 1px solid gold;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.points .point {
  width: 25vw;
  text-align: center;
}

.points .point h1 {
  font-size: 2vw;
}

.points .point img {
  width: 50%;
}

.points .point p {
  font-size: 1vw;
  line-height: 1.3vw;
  color: rgba(255, 255, 255, 0.8);
}

.refs {
  height: 50vh;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../Assets/city-unsplash-2.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.refs .button {
  margin: 0.5vw;
}

.refs .expo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vw;
  text-align: center;
}

.refs .expo h1 {
  font-size: 2.5vw;
  margin: 0.5vw;
}

.refs .expo h2 {
  font-size: 1.5vw;
  color: rgba(255, 255, 255, 0.9);
  margin: 1vw;
  margin-bottom: 1.5vw;
}
/*# sourceMappingURL=landing.css.map */