$blue: #0666DA;
$red: #FF7777;
$darkblue: #0241B9;

@media screen and (min-width: 800px){

    .landing{
        height: 88vh;
        width: 100vw;
        margin: 0;
        background-image:url('../Assets/city-unsplash.png'), linear-gradient(45deg, #FFD500, #00B2FF);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(black, 0.3);
        background-blend-mode: overlay;
        position: relative;
        display: flex;
        align-items: center;

        .expo{
            padding: 3vw;
            width: 60%;
            color: white;

            h1{
                margin: 0;
                font-size: 3vw;
                text-shadow: 0px 0px 30px black;
            }
            h2{
                font-size: 2vw;
                text-shadow: 0px 0px 30px black;

            }
            p{
                font-size: 1.3vw;
                color: #d0d0d0;
                font-weight: 500;
                line-height: 1.8vw;
                margin: 0;
                text-shadow: 0px 0px 30px black;
            }

            .hor-flex{

                margin-top: 2vw;

                .button{
                    margin-right: 1vw;
                }
            }
        }
    }

    .hor-flex{
        display: flex;
        align-items: center;
    }

    .button{
        background: black;
        border-radius: 0.5vw;
        padding: 1vw;
        font-weight: 700;
        transition: 0.2s ease;
        position: relative;
        bottom: 0;
        box-shadow: 0px 0px 2px rgba(black, 0.5);
        h3{
            font-size: 1.2vw;
            font-weight: 600;
            margin: 0;
            z-index: 3;
            color: lighten(gold, 30%);
        }

        &:hover{
            bottom: 7px;
            box-shadow: 0px 10px 10px rgba(black, 0.5);
            h3{
                color: lighten(gold, 0%);
            }
            .filler{
                top: 0%;
                left: 0%;
                height: 100%;
                width: 100%;
                border-radius: 0.3vw;
            }
        }
    }

    .points{
        display: flex;
        justify-content: space-evenly;
        align-items: top;
        padding-top: 3vw;
        padding-bottom: 3vw;

        .point{
            width: 25vw;
            text-align: center;
            h1{
                font-size: 2vw;
            }
            img{
                width: 50%;
            }
            p{
                font-size: 1vw;
                line-height: 1.3vw;
                color: rgba(white, 0.8);
            }
        }
    }

    .refs{
        height: 50vh;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../Assets/city-unsplash-2.png'), linear-gradient(45deg, #FFD500, #008FFF);
        background-color: rgba(black, 0.3);
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        .button{
            margin: 0.5vw;
        }
        .expo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2vw;
            text-align: center;
        // background: linear-gradient(to right, rgba(black, 0), rgba(black, 0.5), rgba(black, 0.5), rgba(black, 0));
            h1{
                font-size: 2.5vw;
                margin: 0.5vw;
            }
            h2{
                font-size: 1.5vw;
                color: rgba(white, 0.9);
                margin: 1vw;
                margin-bottom: 1.5vw;
            }
        }
    }
}

@media screen and (max-width: 800px){

    .landing{
        height: 88vh;
        width: 100vw;
        margin: 0;
        background-image:url('../Assets/city-unsplash.png'), linear-gradient(45deg, #FFD500, #00B2FF);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(black, 0.5);
        background-blend-mode: overlay;
        position: relative;
        display: flex;
        align-items: center;

        .expo{
            padding: 3vw;
            width: 90%;
            color: white;

            h1{
                margin: 2vw;
                font-size: 7.5vw;
                line-height: 9vw;
                text-shadow: 0 0 20px black;
            }
            h2{
                font-size: 4vw;
                margin: 2vw;
                text-shadow: 0 0 20px black;

            }
            p{
                font-size: 3.5vw;
                color: #d0d0d0;
                font-weight: 500;
                line-height: 4.5vw;
                margin: 2vw;
                margin-top: 4vw;
                margin-bottom: 4vw;
                text-shadow: 0 0 20px black;
            }

            .hor-flex{

                margin-top: 2vw;

                .button{
                    margin-right: 1vw;
                }
            }
        }
    }

    .hor-flex{
        display: flex;
        align-items: center;
    }

    .button{
        background: black;
        border-radius: 2vw;
        border: 2px solid gold;
        padding: 2.5vw;
        font-weight: 700;
        transition: 0.2s ease;
        position: relative;
        bottom: 0;
        margin: 1vw;
        box-shadow: 0px 0px 2px rgba(black, 0.5);
        h3{
            font-size: 3.3vw;
            font-weight: 600;
            margin: 0;
            z-index: 3;
            color: lighten(gold, 30%);
        }

        &:hover{
            bottom: 7px;
            box-shadow: 0px 10px 10px rgba(black, 0.5);
            h3{
                color: lighten(gold, 0%);
            }
            .filler{
                top: 0%;
                left: 0%;
                height: 100%;
                width: 100%;
                border-radius: 0.3vw;
            }
        }
    }

    .points{
        padding-top: 3vw;
        padding-bottom: 3vw;

        .point{
            width: 90vw;
            text-align: center;
            margin: auto;
            padding: 2vw;
            h1{
                font-size: 6vw;
            }
            img{
                width: 50%;
            }
            p{
                font-size: 3vw;
                line-height: 4vw;
                color: rgba(white, 0.8);
            }
        }


    }

    .refs{
        height: 50vh;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10vw;
        justify-content: center;
        background-image: url('../Assets/city-unsplash-2.png');
        background-color: rgba(black, 0.3);
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;

        .expo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2vw;
            text-align: center;
        // background: linear-gradient(to right, rgba(black, 0), rgba(black, 0.5), rgba(black, 0.5), rgba(black, 0));
            h1{
                font-size: 5.5vw;
                margin: 2vw;
            }
            h2{
                font-size: 3vw;
                width: 80%;
                color: rgba(white, 0.9);
                margin: 2vw;
                margin-bottom: 4vw;
            }
        }
    }
}