.main {
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
}

.main.letter {
  background-image: url("../Assets/city-unsplash.png"), linear-gradient(45deg, #fff4d9, #e7ffed);
}

.main.online {
  background-image: url("../Assets/city-unsplash.png"), linear-gradient(45deg, #e7ffed, #dcf3ff);
}

.main.resume {
  background-image: url("../Assets/city-unsplash.png"), linear-gradient(45deg, #dcf3ff, #FFEBEB);
}

.main.interview {
  background-image: url("../Assets/city-unsplash.png"), linear-gradient(45deg, #FFEBEB, #fdf1ff);
}

.main.research {
  background-image: url("../Assets/city-unsplash.png"), linear-gradient(45deg, #fdf1ff, #fff4d9);
}

.hl {
  color: black;
  background-color: #ffef99;
}

.ul {
  color: black;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  -webkit-text-decoration-color: royalblue;
          text-decoration-color: royalblue;
}

.dot {
  color: black;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  -webkit-text-decoration-color: #00C129;
          text-decoration-color: #00C129;
}

.thru {
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-decoration: line-through wavy;
          text-decoration: line-through wavy;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.top {
  height: 2vw;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .menu div {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.5vw;
  border-radius: 2vw;
  background-color: black;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.top .menu .red {
  background-color: #E60000;
}

.top .menu .red:hover {
  background-color: #b30000;
}

.top .menu .yellow {
  background-color: #03CA00;
}

.top .menu .yellow:hover {
  background-color: #029700;
}

.top .menu .green {
  background-color: #FFCD00;
}

.top .menu .green:hover {
  background-color: #cca400;
}

.top .bar {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.top .bar:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 800px) {
  .main {
    width: 100vw;
    margin: auto;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 6vw;
  }
  .main .title {
    margin-bottom: 5vw;
  }
  .main .title .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .title img {
    height: 4vw;
    margin-left: 1vw;
  }
  .main .title h1 {
    font-size: 5vw;
    font-weight: 900;
    color: black;
  }
  .main .title p {
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 1vw;
    font-size: 1.5vw;
  }
  .sec {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .sec .expo {
    margin: 2vw;
    width: 40vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    text-align: left;
  }
  .sec .expo p {
    color: black;
    font-size: 1.5vw;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0.5vw;
  }
  .sec .expo h1 {
    font-size: 2.5vw;
    color: black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-bottom: 1vw;
    font-weight: 900;
  }
  .sec .expo h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2vw;
    font-weight: 500;
    margin: auto;
  }
  .sec img {
    width: 25vw;
    margin: 0;
  }
  .sec.right .expo {
    text-align: right;
  }
  .sec.final {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .sec .icon {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 20vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .carousel img {
    height: 7vw;
    width: 7vw;
    margin: 1vw;
    border-radius: 1vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .carousel img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 800px) {
  .main {
    width: 100vw;
    margin: 0;
    text-align: center;
    padding-top: 15vw;
    padding-bottom: 30vw;
  }
  .main .title {
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .main .title img {
    display: none;
  }
  .main .title h1 {
    font-size: 8.5vw;
    font-weight: 900;
    color: black;
    white-space: nowrap;
  }
  .main .title p {
    color: black;
    width: 90%;
    margin: auto;
    margin-top: 0;
    font-size: 3.5vw;
  }
  .sec {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2vw;
    margin-bottom: 5vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .sec .expo {
    margin: 2vw;
    width: 90vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .sec .expo p {
    color: black;
    font-size: 3vw;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0.5vw;
  }
  .sec .expo h1 {
    font-size: 6vw;
    color: black;
    margin: 0;
    margin-bottom: 2vw;
  }
  .sec .expo h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 4vw;
    font-weight: 500;
    margin: auto;
  }
  .sec .icon {
    height: 60vw;
    width: auto;
    margin: 0;
  }
  .sec.final {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .top {
    display: none;
  }
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 13vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    padding: 3vw;
  }
  .carousel img {
    height: 100%;
    margin: 2vw;
    border-radius: 3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}
/*# sourceMappingURL=page.css.map */